@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

:root {
    --color-one: #007BFF;
    --color-two: #E3F2FD;
    --color-border: #90CAF9;
    --color-hover: #000cb1;
}

body {
    background: #f4f4ff;
}

::-moz-selection {
    color: #fff;
    background: var(--color-one);
}

::selection {
    color: #fff;
    background: var(--color-one);
}

.cta_btn {
    padding: 10px 20px;
    background: var(--color-one);
    color: #fff;
    transition: 0.3s;
    border-radius: 5px;
}

.cta_btn:hover {
    background: var(--color-hover);
}

a {
    text-decoration: none;
    color: var(--color-one);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background: #FFFFFF;
    box-shadow: 0 1px 10px #0000000c;
}

header .row {
    width: 1440px;
    justify-content: space-between;
}

header h3 {
    color: var(--color-one);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

.site_title h3 ion-icon.md.hydrated {
    font-size: 36px;
}

header .user_data {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Expense Tracker */

.expense_table {
    padding: 50px 10px;
    width: 100%;
}
.expense_table .row {
    width: 1200px;
}

.expense_table table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 1px 10px #0000000c;
    border-radius: 10px;
    overflow: hidden;
    table-layout: fixed;
}

.expense_table th:nth-child(1), 
.expense_table td:nth-child(1) {
    width: 7%;
    text-align: center;
}

.expense_table th, td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: left;
    word-wrap: break-word;
}

.expense_table th {
    background-color: var(--color-one);
    color: white;
}

.expense_table .actionBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.expense_table .cta_btn {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Expense Tracker Form */

.expenseForm {
    width: 100%;
    padding: 60px 10px 30px;
}

.expenseForm .row {
    width: 1200px;
}

.expenseForm form {
    width: 100%;
    gap: 20px;
    align-items: flex-end;
}
.expenseForm form h3 {
    color: var(--color-one);
}
.expenseForm form input {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px #0000000c;
    height: 45px;
}

.expenseForm form input:focus {
    outline: 1px solid var(--color-one);
}

.expenseForm form select {
    padding: 10px;
    height: 45px;
    border: none;
    border-radius: 5px;
}
.expenseForm form select:focus {
    outline: 1px solid var(--color-one);
}
.expenseForm form select option{
    transition: 0.3s;
}
.expenseForm form .formFields {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.expenseForm form button {
    height: 45px;
    padding: 10px 20px;
    width: 20%;
    background: var(--color-one);
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
}

.expenseForm form button:hover {
    background: var(--color-hover);
}